@font-face {
    font-family: Garibaldino;
    src: url("../fonts/FontsFree-Net-Art-nuvo.ttf");
}

* {
    margin: 0px;
    padding: 0px;

    color: white;

    font-family: Gotham-Black, sans-serif;
}


.neonTextBlue {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(0, 60, 255),
        0 0 82px rgb(0, 60, 255),
        0 0 92px rgb(0, 60, 255),
        0 0 102px rgb(0, 60, 255),
        0 0 151px rgb(0, 60, 255);
}

.neonBoxBlue {
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 30px;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem rgb(0, 60, 255),
        0 0 0.8rem rgb(0, 60, 255),
        0 0 2.8rem rgb(0, 60, 255),
        inset 0 0 1.3rem rgb(0, 60, 255);
}

.neonTextGreen {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(0, 255, 0),
        0 0 82px rgb(0, 255, 0),
        0 0 92px rgb(0, 255, 0),
        0 0 102px rgb(0, 255, 0),
        0 0 151px rgb(0, 255, 0);
}

.neonBoxGreen{
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 30px;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem rgb(0, 255, 0),
        0 0 0.8rem rgb(0, 255, 0),
        0 0 2.8rem rgb(0, 255, 0),
        inset 0 0 1.3rem rgb(0, 255, 0);
}

.neonTextRed {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(255, 0, 0),
        0 0 82px rgb(255, 0, 0),
        0 0 92px rgb(255, 0, 0),
        0 0 102px rgb(255, 0, 0),
        0 0 151px rgb(255, 0, 0);
}

.neonBoxRed{
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 30px;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem rgb(255, 0, 0),
        0 0 0.8rem rgb(255, 0, 0),
        0 0 2.8rem rgb(255, 0, 0),
        inset 0 0 1.3rem rgb(255, 0, 0);
}


input {
    padding: 2px;
    margin: 2px;

    color: black;
}


body {
    width: 100%;
    background-color: black;
}

.background-body {
    background-color: black;
}


.header {

    position: fixed;

    max-height: 80px;
    min-height: 70px;

    width: 100%;
    z-index: 5;
    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header a
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

    flex: 1;
    height: 70px;
    width: 100%;

    content: '';
    z-index: 3;
    width: 100%;
    height: 70px;

    content: '';
}

.header .garibaldino {
    position: relative;

    flex: 40;
    height: 70px;

    background-image: url(../images/scrittagaribaldino.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    content: '';
    z-index: 3;
}



.header a {
    flex: 1;
    min-width: 40px;
    min-height: 40px;
}

.header img.back {
    max-width: 40px;
    max-height: 40px;

    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 15px;
    margin-top: 5px;
    border-radius: 100%;
    border: 3px solid white;
}

.header p{
  color: white;
  font-size: 40px;
}
.header-item{
  font-size: 30px;
  margin-left: 40px;
}
.viewlogo {
    position: relative;
    top: 70px;
    min-height: 270px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.gray {
    color: gray;
}

.title1 {
    font-size: 150px;
}

.title3 {
    font-size: 24px;
}

.capitalize {
    text-transform: uppercase;
}

.viewlogo .content {
    width: 90%;
    min-height: 730px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding-top: 150px;
}

.viewlogo .content h1 {
    margin-top: 25px;
}


.navbar {
    position: sticky;
    top: 70px;

    width: 100%;
    min-height: 80px;

    z-index: 100;

    display: flex;
}

.navbar .nav {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.navbar .nav::-webkit-scrollbar {
    max-height: 6px;
}

.navbar .nav::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border-radius: 100%;
}

.navbar .nav::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-linear-gradient(left,
            #2ab0ed 0%,
            #bfe8f9 25%,
            #9fd8ef 50%,
            #e4f5fc 60%,
            #bfe8f9 75%,
            #9fd8ef 80%,
            #2ab0ed 100%);
}

.navbar .nav div {

    max-width: 250px;
    flex: 1;
    background-color: black;
    height: 100%;
    cursor: pointer;
    padding: 0px 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.navbar .nav div:hover {
    max-width: 250px;
    flex: 1;
    background-color: rgba(255, 255, 255, .5);
    height: 100%;

    cursor: pointer;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: .5s;
}

.navbar .nav div a {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.main {
    position: relative;
    top: 0px;
}



.main .menu-content {
    margin-top: 150px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .menu-content:last-child{
    margin-bottom: 150px;
}

.main .menu-content .title {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 50px;
}

.main .menu-content .title .item-title {
    text-transform: uppercase;

    font-family: Garibaldino;
}

.main .menu-content .objects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-top: 15px;
}

.main .menu-content .objects .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    margin-top: 15px;
}

.main .menu-content .objects .item .header-item {
    display: flex;
    flex: 1;

    flex-direction: row;
    justify-content: stretch;
    align-items: center;

    width: 90%;
}

.main .menu-content .objects .item .header-item .separator {
    flex: 1;
    border-bottom: 2px dotted rgba(255, 255, 255, .5);

    margin: 5px;
    margin-top: 15px;
}

.main .menu-content .objects .item .header-item .title-item {
    font-size: 24px;
    max-width: 80%;
}


.main .menu-content .objects .item .info-item {

    font-size: 16px;

    margin-top: 5px;
    min-height: 50px;
    content: '';
    width: 75%;
}


@media screen and (min-width: 1475px) {
    .navbar .nav::-webkit-scrollbar {
        display: none;
        top: 10px;
    }


}

@media screen and (min-width: 1475px){
    .main .menu-content .item-subtitle{
        font-size: 42px;
    }

    .main .menu-content .title .item-title{
        font-size: 80px;
        letter-spacing: 10px;
    }
}

@media screen and (max-width: 1475px) {
    .main .menu-content .item-subtitle{
        font-size: 12px;
    }
    .main .menu-content{
      margin-top: 50px;
    }
    .main .menu-content .title{
      margin: 25px;
    }

    .header img.back {
        max-width: 30px;
        max-height: 30px;

        min-width: 5px;
        min-height: 5px;

        margin-left: 15px;
        margin-top: 5px;
        border-radius: 100%;
        border: 3px solid white;
    }

    .header .garibaldino {
        position: relative;

        height: 70px;
        width: 90%;

        background-image: url(../images/scrittagaribaldino.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        content: '';
        z-index: 3;
    }

    .header {
        position: fixed;

        max-height: 80px;
        min-height: 70px;

        width: 100%;
        z-index: 5;
        background-color: black;

        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .title1 {
        font-size: 120px;
    }

    .viewlogo .content {
        width: 90%;
        min-height: 550px;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        padding-top: 50px;
    }
    .header-item{
      font-size: 20px;
    }
    .main .menu-content .objects .item .header-item .vino{
      font-size: 16px;
    }
}
